<style>
    .titles{
        font-family: sans-serif;
        font-weight: bold;
        color: #3d3d3d;
    }
</style>
<div class="container container-fluid">

<button id="next" class="btn btn-success"><i class="fas fa-arrow-right"></i></button>

<div class="col-xs-4">
    <p class="titles">public class Test{</p>

    <form>
        <i>//Attribute Declarations</i><br>
        <textarea id="t_attributes" name="attributes" placeholder="Add your attribute declarations here" rows="2" cols="30">
int age;
String name;
        </textarea><br>
        <i>//Constructors</i><br>
        <textarea id="t_constructors" name="constructors" placeholder="Add your constructors here" rows="7" cols="30">
public Test(int age, String name){
    this.age = age;
    this.name = name;
}
private Test(int age){
    this.age = age;
}
        </textarea><br>
        <i>//Functions</i><br>
        <textarea id="t_functions" name="functions" placeholder="Add your functions here" rows="7" cols="30">
public int getAge(){
    return this.age;
}
public static String getName(){
    return this.name;
}
        </textarea><br>
        <p class="titles">public static void main(String[] args){</p>
        <textarea id="t_main" name="main" placeholder="This is your playground, test around here" rows="3" cols="30">
int x = 3;
int y = 2;
x = 1;
if(x == 1){
    y = 3;
}
while(y == 3){
    if(x < 5){
        x = x + 1;
    }
}
for(int i = 1; i < 20; i++){
    x = i;
}
        </textarea><br>
        <p class="titles">}<br>
        }</p>
        <input id="submit" class="btn btn-danger" value="Submit" />
    </form>
</div>

<div class="col-xs-4">
    <div id="attributes" class="row center text-center">
        <p><h3>Attributes</h3></p>
    </div>
    <hr>

    <div id="constructors" class="row center text-center">
        <p><h3>Constructors</h3></p>
        <p class="constructor-name">Test</p>
    </div>
    <hr>

    <div id="functions" class="row center text-center">
        <p>
            <h3>Functions</h3>
        </p>
    </div>
    <hr>

    <div id="variables" class="row center text-center">
        <h3>Variables</h3>
        {{#each _main.variables}}
        <div class="row">
            <p>{{this.name}}</p>
            <p style="font-size:130%;color:red;">{{this.type}}</p>
            <div class="ldBar" data-min="0" data-max="10" data-value={{this.value}}></div>
        </div>
        {{/each}}
    </div>


    <p>{{ error }}</p>
</div>

<div class="col-xs-4">
    <div id="logic" class="row center text-center">
        <p>
            <h1>Logic</h1>
        </p>
        <p id="statement"></p>
        <p id="subtitle"></p>
        <div id="data">

        </div>
    </div>
</div>
</div>