<style>
    .titles{
        font-family: sans-serif;
        font-weight: bold;
        color: #3d3d3d;
    }
</style>

<div class="container container-fluid">
{{!-- Modal --}}
<!-- Trigger the modal with a button -->
<button id="modalbtn" type="button" class="btn btn-info btn-lg" data-toggle="modal" style="display: none;" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <h4 id="modal-title" class="text-center">Rules</h4>
        <p id="modal-text">lorem ipsum lorem ipsum lorem ipsum lorem ipsum </p>
      </div>
    </div>
  </div>
</div>

<button id="next" class="btn btn-success"><i class="fas fa-arrow-right"></i></button>

<div class="col-xs-4">
    <p class="titles">public class Test{</p>

    <form>
        <i>//Attribute Declarations</i> <a id="rule-attributes" class="rule-btn btn btn-info"><i class="fas fa-info-circle"></i></a><br>
        <textarea class="form-control" id="t_attributes" name="attributes" placeholder="Add your attribute declarations here" style="height: 50px">
int age;
String name;
        </textarea><br>
        <i>//Constructors</i> <a id="rule-constructors" class="rule-btn btn btn-info"><i class="fas fa-info-circle"></i></a><br>
        <textarea class="form-control" id="t_constructors" name="constructors" placeholder="Add your constructors here" style="height: 150px">
public Test(int age, String name){
    this.age = age;
    this.name = name;
}
private Test(int age){
    this.age = age;
}
        </textarea><br>
        <i>//Functions</i> <a id="rule-functions" class="rule-btn btn btn-info"><i class="fas fa-info-circle"></i></a><br>
        <textarea class="form-control" id="t_functions" name="functions" placeholder="Add your functions here" style="height: 130px">
public int getAge(){
    return this.age;
}
public static int sum(int x, int y, int z){
    return x + y + z;
}
public static int sum(int elem1, int elem2){
    int zz = elem1 + elem2;
    return zz;
}
        </textarea><br>
        <p class="titles">public static void main(String[] args){</p>
        <i>//Main method</i> <a id="rule-main" class="rule-btn btn btn-info"><i class="fas fa-info-circle"></i></a><br>
        
        <textarea class="form-control" id="t_main" name="main" placeholder="This is your playground, test around here" style="height: 340px">
int x = (3 + 1) * (2 * (7 * sum(3, 1)));
int y = 2 + 3 * x - 1;
int da = (((((20)))));
sum(1,sum(1,sum(x,y)));
String z = "ababab";
y = sum(1, 12);
boolean a = x == 56 && (false || (true || false) && true);
if(x == 224){
    if(x > 1){
        if (true){
            int bla = 69;
            y = 10;
        }
    }
} else {
    y = 8;
}
while(y > 3){
    int zzz = 30;
    if(x >= 5){
        y = y - 1;
    } else {
        y = y-2;
    }
}
for(int i = 1; i < 20; i++){
    x = i;
}
        </textarea><br>
        <p class="titles">}<br>
        }</p>
        <input id="submit" class="btn btn-danger" value="Submit" />
    </form>
</div>

<div class="col-xs-4">
    <div id="attributes" class="row center text-center">
        <p><h3>Attributes</h3></p>
    </div>
    <hr>

    <div id="constructors" class="row center text-center">
        <p><h3>Constructors</h3></p>
        <p class="constructor-name">Test</p>
    </div>
    <hr>

    <div id="functions" class="row center text-center">
        <p>
            <h3>Functions</h3>
        </p>
    </div>
    <hr>

    <div id="variables" class="row center text-center">
        <h3>Variables</h3>
        {{#each _main.variables}}
        <div class="row">
            <p>{{this.name}}</p>
            <p style="font-size:130%;color:red;">{{this.type}}</p>
            <div class="ldBar" data-min="0" data-max="10" data-value={{this.value}}></div>
        </div>
        {{/each}}
    </div>


    <p>{{ error }}</p>
</div>

<div class="col-xs-4">
    <div id="logic" class="row center text-center">
        <p>
            <h1>Logic</h1>
        </p>
        <div class="row" id="whiles"></div>
        <div class="row" id="ifs"></div>
        <p id="statement" class="statement"></p>
        <p id="subtitle" class="subtitle"></p><hr>
        {{!-- <p class="text-left"><h3>Numbers</h3></p> --}}
        <div id="data_numbers" class="row"></div><hr>
        <div id="data_bools" class="row"></div><hr>
        {{!-- <p class="text-left"><h3>Strings</h3></p> --}}
        <div id="data_strings" class="row"></div><hr>
        <div id="data_functions" class="row"></div>
    </div>
</div>
</div>